/* Mobile Styles */
@media screen and (max-width: 420px) {
    .logo {
        font: 75px 'Caflisch Script', sans-serif;
    }
    .desc {
    font-size: 14px;
}
}

/* Tablet Styles */
@media only screen and (min-width: 421px) and (max-width: 960px) {
    .logo {
        font: 120px 'Caflisch Script', sans-serif;
    }
    .desc {
        font-size: 16px;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .logo {
        font: 150px 'Caflisch Script', sans-serif;
    }
    .desc {
        font-size: 18px;
    }
}
.content {
    height: 100%;
}

.heading {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    color: black;
}

.logo {
    /* font: 150px 'Italiana', sans-serif; */
    text-transform: lowercase;
}
.nav-home {
    position: fixed;
    right: 25px;
    margin-top: 15px;
}

a {
    text-decoration: none !important;
    padding: 3px 0;
    color: #999999 !important;
}