.pages {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    transition: all 1s ease;
}

.pages div {
    width: 100%;
    height: 100%;
}

.page1 {
    background-color: green;
}

.page2 {
    background-color: red;
    top: 100%;
}

.page3 {
    background-color: blue;
    top: 200%;
}

