@media screen and (max-width: 420px) {
    .section-part {
        padding: 50px 25px;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 421px) and (max-width: 960px) {
    .section-part {
        padding: 50px 15%;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .section-part {
        padding: 50px 20%;
    }
}

.homepage-content {
    width:100%;
    height:100%;
}

.section-part {
    background: #fdfdfd;
    box-shadow: inset 0 1px 0 0 white;
    border-top: 1px solid #ccc;
}

.color-grey {
    color: #33333d;
}

pre {
    background: white;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 25px;
    font-size: .9em;
    font-family: monospace;
    overflow-x: auto;
}