/* Mobile Styles */
@media screen and (max-width: 400px) {
    .login-form {
        width: 100%;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .login-form {
        width: 70%;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .login-form {
        width: 30%;
    }
}

.login-button {
    margin-top: 30px !important;
    width: 100%;
}

.login-form {
    height: 80%;
    padding: 40px;
}

.login-component {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fbfbfb;
}

.mouse-cursor-gradient-tracking {
    position: relative;
    background: #7983ff;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}
.mouse-cursor-gradient-tracking span {
    position: relative;
}
.mouse-cursor-gradient-tracking::before {
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, aqua, transparent);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
}
.mouse-cursor-gradient-tracking:hover::before {
    --size: 200px;
}