/* Mobile Styles */
@media screen and (max-width: 400px) {
    body {
        font-size: 14px !important;
    }
    .standard-font-size {
        font-size: 14px !important;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        font-size: 16px !important;
    }
    .standard-font-size {
        font-size: 16px !important;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        font-size: 18px !important;
    }
    .standard-font-size {
        font-size: 18px !important;
    }
}

.center-center {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}